src/main/java/vn/nsw/xsd/AcceptanceForTransit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Tue Sep 16 2014 08:40:58 GMT+0700 (SE Asia Standard Time) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="AcceptanceForTransit">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NumberAcceptanceForTransit" type="xs:string"></xs:element>
				<xs:element name="DocumentName" type="xs:string"></xs:element>
				<xs:element name="DocumentYear" type="xs:string"></xs:element>
				<xs:element name="NameOfShip" type="xs:string"></xs:element>
				<xs:element name="FlagStateOfShip" type="xs:string"></xs:element>
				<xs:element name="CallSign" type="xs:string"></xs:element>
				<xs:element name="NameOfMaster" type="xs:string"></xs:element>
				<xs:element name="LOA" type="xs:string"></xs:element>
				<xs:element name="UnitLOA" type="xs:string"></xs:element>
				<xs:element name="Breadth" type="xs:string"></xs:element>
				<xs:element name="UnitBreadth" type="xs:string"></xs:element>
				<xs:element name="GrossTonnage" type="xs:string"></xs:element>
				<xs:element name="GrossTonnageUnit" type="xs:string"></xs:element>
				<xs:element name="NetTonnage" type="xs:string"></xs:element>
				<xs:element name="NetTonnageUnit" type="xs:string"></xs:element>
				<xs:element name="DWT" type="xs:string"></xs:element>
				<xs:element name="UnitDWT" type="xs:string"></xs:element>
				<xs:element name="ShownDraftxF" type="xs:string"></xs:element>
				<xs:element name="UnitShownDraftxF" type="xs:string"></xs:element>
				<xs:element name="ShownDraftxA" type="xs:string"></xs:element>
				<xs:element name="UnitShownDraftxA" type="xs:string"></xs:element>
				<xs:element name="ClearanceHeight" type="xs:string"></xs:element>
				<xs:element name="UnitClearanceHeight" type="xs:string"></xs:element>
				<xs:element name="PermittedTransitFrom" type="xs:string"></xs:element>
				<xs:element name="PermittedTransitTo" type="xs:string"></xs:element>
				<xs:element name="TimeOfDeparture" type="xs:string"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>