src/main/java/vn/nsw/xsd/ConfirmationOfArrival.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Tue Sep 16 2014 08:40:58 GMT+0700 (SE Asia Standard Time) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="ConfirmationOfArrival">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocumentName" type="xs:string"></xs:element>
				<xs:element name="DocumentYear" type="xs:string"></xs:element>
				<xs:element name="UserCreated" type="xs:string"></xs:element>
				<xs:element name="NameOfShip" type="xs:string"></xs:element>
				<xs:element name="ShipTypeCode" type="xs:string"></xs:element>
				<xs:element name="IMONumber" type="xs:string"></xs:element>
				<xs:element name="CallSign" type="xs:string"></xs:element>
				<xs:element name="FlagStateOfShip" type="xs:string"></xs:element>
				<xs:element name="PortOfArrivalCode" type="xs:string"></xs:element>
				<xs:element name="PortHarbourCode" type="xs:string"></xs:element>
				<xs:element name="PortRegionCode" type="xs:string"></xs:element>
				<xs:element name="PortWharfCode" type="xs:string"></xs:element>
				<xs:element name="TimeOfArrival" type="xs:string"></xs:element>
				<xs:element name="SignPlace" type="xs:string"></xs:element>
				<xs:element name="SignDate" type="xs:string"></xs:element>
				<xs:element name="MasterSigned" type="xs:string"></xs:element>
				<xs:element name="PersonList" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name" type="xs:string"></xs:element>
							<xs:element name="Age" type="xs:string"></xs:element>
							<xs:element name="NationalCode" type="xs:string"></xs:element>
							<xs:element name="NationalName" type="xs:string"></xs:element>
							<xs:element name="IlnessStatus" type="xs:string"></xs:element>
							<xs:element name="ReasonOfDead" type="xs:string"></xs:element>
							<xs:element name="PersonType" type="xs:string"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>