src/main/java/vn/nsw/xsd/CrewEffectsDeclaration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Tue Sep 16 2014 08:40:58 GMT+0700 (SE Asia Standard Time) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="CrewEffectsDeclaration">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocumentName" type="xs:string"></xs:element>
				<xs:element name="DocumentYear" type="xs:string"></xs:element>
				<xs:element name="UserCreated" type="xs:string"></xs:element>
				<xs:element name="NameOfShip" type="xs:string"></xs:element>
				<xs:element name="IMONumber" type="xs:string"></xs:element>
				<xs:element name="Callsign" type="xs:string"></xs:element>
				<xs:element name="VoyageNumber" type="xs:string"></xs:element>
				<xs:element name="FlagStateOfShip" type="xs:string"></xs:element>
				<xs:element name="NameOfMaster" type="xs:string"></xs:element>
				<xs:element name="ListCrewEffects">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CrewEffectItem" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CrewEffectItemCode" type="xs:string"></xs:element>
										<xs:element name="FamilyName" type="xs:string"></xs:element>
										<xs:element name="GivenName" type="xs:string"></xs:element>
										<xs:element name="RankOrRatingCode" type="xs:string"></xs:element>
										<xs:element name="EffectsIneligibleForRelief" type="xs:string"></xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SignPlace" type="xs:string"></xs:element>
				<xs:element name="SignDate" type="xs:string"></xs:element>
				<xs:element name="MasterSigned" type="xs:string"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>