src/main/java/vn/nsw/xsd/DmHistoryPilotCompany.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Tue Sep 16 2014 08:40:58 GMT+0700 (SE Asia Standard Time) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="DmHistoryPilotCompanyList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DmHistoryPilotCompany" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MaritimeCode" type="xs:string"></xs:element>
							<xs:element name="PilotCompanyCode" type="xs:string"></xs:element>
							<xs:element name="PilotCompanyName" type="xs:string"></xs:element>
							<xs:element name="CompanyAddress" type="xs:string"></xs:element>
							<xs:element name="ContactEmail" type="xs:string"></xs:element>
							<xs:element name="TelNo" type="xs:string"></xs:element>
							<xs:element name="FaxNo" type="xs:string"></xs:element>
							<xs:element name="Remarks" type="xs:string"></xs:element>
							<xs:element name="CompanyShortName" type="xs:string" />
							<xs:element name="Status" type="xs:int"></xs:element>
							<xs:element name="SyncVersion" type="xs:string"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>