src/main/java/vn/nsw/xsd/DmHistoryMaritimeList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Tue Sep 16 2014 08:40:58 GMT+0700 (SE Asia Standard Time) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="DmHistoryMaritimeList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DmHistoryMaritime" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MaritimeCode" type="xs:string"></xs:element>
							<xs:element name="MaritimeReference" type="xs:string"></xs:element>
							<xs:element name="MaritimeOrder" type="xs:string"></xs:element>
							<xs:element name="MaritimeName" type="xs:string"></xs:element>
							<xs:element name="MaritimeNameVN" type="xs:string"></xs:element>
							<xs:element name="Address" type="xs:string"></xs:element>
							<xs:element name="AddressVN" type="xs:string"></xs:element>
							<xs:element name="StateCode" type="xs:string"></xs:element>
							<xs:element name="CityCode" type="xs:string"></xs:element>
							<xs:element name="IsDelete" type="xs:string"></xs:element>
							<xs:element name="MarkedAsDelete" type="xs:string"></xs:element>
							<xs:element name="ModifiedDate" type="xs:string"></xs:element>
							<xs:element name="RequestedDate" type="xs:string"></xs:element>
							<xs:element name="SyncVersion" type="xs:string"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>