src/main/java/vn/nsw/xsd/DMPortRegionList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Tue Sep 16 2014 08:40:58 GMT+0700 (SE Asia Standard Time) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="DmPortRegionList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DmPortRegion" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PortRegionCode" type="xs:string"></xs:element>
							<xs:element name="PortRegionName" type="xs:string"></xs:element>
							<xs:element name="PortRegionNameVN" type="xs:string"></xs:element>
							<xs:element name="PortRegionRef" type="xs:string"></xs:element>
							<xs:element name="PortCode" type="xs:string"></xs:element>
							<xs:element name="PortCodeRef" type="xs:string"></xs:element>
							<xs:element name="IsDelete" type="xs:string"></xs:element>
							<xs:element name="MarkedAsDelete" type="xs:string"></xs:element>
							<xs:element name="ModifiedDate" type="xs:string"></xs:element>
							<xs:element name="RequestedDate" type="xs:string"></xs:element>
							<xs:element name="SyncVersion" type="xs:string"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>