src/main/java/vn/nsw/xsd/DmShipAgency.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Tue Sep 16 2014 08:40:58 GMT+0700 (SE Asia Standard Time) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="DmShipAgencyList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DmShipAgency" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ShipAgencyCode" type="xs:string"></xs:element>
							<xs:element name="ShipAgencyName" type="xs:string"></xs:element>
							<xs:element name="ShipAgencyNameVN" type="xs:string"></xs:element>
							<xs:element name="TaxCode" type="xs:string"></xs:element>
							<xs:element name="StateCode" type="xs:string"></xs:element>
							<xs:element name="CityCode" type="xs:string"></xs:element>
							<xs:element name="Address" type="xs:string"></xs:element>
							<xs:element name="AddressVN" type="xs:string"></xs:element>
							<xs:element name="Phone" type="xs:string"></xs:element>
							<xs:element name="Fax" type="xs:string"></xs:element>
							<xs:element name="Email" type="xs:string"></xs:element>
							<xs:element name="Description" type="xs:string"></xs:element>
							<xs:element name="Representative1" type="xs:string"></xs:element>
							<xs:element name="RepresentativeTitle1" type="xs:string"></xs:element>
							<xs:element name="Representative2" type="xs:string"></xs:element>
							<xs:element name="RepresentativeTitle2" type="xs:string"></xs:element>
							<xs:element name="Contacter" type="xs:string"></xs:element>
							<xs:element name="Position" type="xs:string"></xs:element>
							<xs:element name="ContactTell" type="xs:string"></xs:element>
							<xs:element name="Status" type="xs:int"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>