src/main/java/vn/nsw/xsd/FeeApproved.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Tue Sep 16 2014 08:40:58 GMT+0700 (SE Asia Standard Time) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="FeeApproved">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocumentName" type="xs:string"></xs:element>
				<xs:element name="DocumentYear" type="xs:string"></xs:element>
				<xs:element name="UserCreated" type="xs:string"></xs:element>
				<xs:element name="PaymentName" type="xs:string"></xs:element>
				<xs:element name="PaymentDate" type="xs:string"></xs:element>
				<xs:element name="PaymentPlace" type="xs:string"></xs:element>
				<xs:element name="Comments" type="xs:string"></xs:element>
				<xs:element name="InvoiceNo" type="xs:string"></xs:element>
				<xs:element name="TotalFee" type="xs:string"></xs:element>
				<xs:element name="PaymentType" type="xs:string"></xs:element>
				<xs:element name="Currency" type="xs:string"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>