src/main/java/vn/nsw/xsd/Header.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Mon Sep 15 2014 14:48:55 GMT+0700 (SE Asia Standard Time) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="Header">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Reference">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="version" type="xs:int"></xs:element>
							<xs:element name="messageId" type="xs:string"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="From">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string"></xs:element>
							<xs:element name="identity" type="xs:int"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="To">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string"></xs:element>
							<xs:element name="identity" type="xs:int"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Subject">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="documentType" type="xs:int"></xs:element>
							<xs:element name="type" type="xs:int"></xs:element>
							<xs:element name="function" type="xs:int"></xs:element>
							<xs:element name="reference" type="xs:int"></xs:element>
							<xs:element name="preReference" type="xs:int"></xs:element>
							<xs:element name="documentYear" type="xs:int"></xs:element>
							<xs:element name="sendDate" type="xs:string"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>