src/main/java/vn/nsw/xsd/InlandCrewCallCenter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Tue Sep 16 2014 08:40:58 GMT+0700 (SE Asia Standard Time) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="InlandCrewCallCenter">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PortName" type="xs:string"></xs:element>
				<xs:element name="MaritimePortCode" type="xs:string"></xs:element>
				<xs:element name="UserCreated" type="xs:string"></xs:element>
				<xs:element name="IsArrival" type="xs:int"></xs:element>
				<xs:element name="NameOfShip" type="xs:string"></xs:element>
				<xs:element name="CallSign" type="xs:string"></xs:element>
				<xs:element name="NameOfMaster" type="xs:string"></xs:element>
				<xs:element name="CertificateNumber" type="xs:string"></xs:element>
				<xs:element name="TimeOfDeparture" type="xs:string"></xs:element>
				<xs:element name="Crew" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CrewCode" type="xs:string"></xs:element>
							<xs:element name="FullName" type="xs:string"></xs:element>
							<xs:element name="CrewNumber" type="xs:string"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>