src/main/java/vn/nsw/xsd/InlandAdditionalRequirements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Mon Sep 15 2014 14:48:55 GMT+0700 (SE Asia Standard Time) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="InlandAdditionalRequirements">
		<xs:complexType>
			<xs:sequence>
				<!-- Lvl1 elements-->
				<xs:element name="RequirementCode" type="xs:string"></xs:element>
				<xs:element name="RequirementDesc" type="xs:string"></xs:element>
				<xs:element name="Organization" type="xs:string"></xs:element>
				<xs:element name="Division" type="xs:string"></xs:element>
				<xs:element name="Name" type="xs:string"></xs:element>
				<xs:element name="RequirementDate" type="xs:string"></xs:element>													
				<!-- End of Lvl1 elements -->
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>