src/main/java/vn/nsw/xsd/InlandCrewLists.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Mon Sep 15 2014 14:48:55 GMT+0700 (SE Asia Standard Time) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="InlandCrewLists">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocumentName" type="xs:string"></xs:element>
				<xs:element name="DocumentYear" type="xs:string"></xs:element>
				<xs:element name="UserCreated" type="xs:string"></xs:element>
				<xs:element name="IsArrival" type="xs:string"></xs:element>
				<xs:element name="NameOfShip" type="xs:string"></xs:element>
				<xs:element name="SignPlace" type="xs:string"></xs:element>
				<xs:element name="SignDate" type="xs:string"></xs:element>
				<xs:element name="MasterSigned" type="xs:string"></xs:element>	
				
				<xs:element name="CrewList">
				<xs:complexType>
						<xs:sequence>
							<xs:element name="Crew" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PassportNumber" type="xs:string"></xs:element>
										<xs:element name="CrewCode" type="xs:string"></xs:element>
										<xs:element name="FamilyName" type="xs:string"></xs:element>
										<xs:element name="GivenName" type="xs:string"></xs:element>
										<xs:element name="RankCode" type="xs:string"></xs:element>					
									</xs:sequence>
								</xs:complexType>
							</xs:element>							
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>