src/main/java/vn/nsw/xsd/InlandAttachment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Mon Sep 15 2014 14:48:55 GMT+0700 (SE Asia Standard Time) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="Attachment">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AttachmentList" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AttachmentType" type="xs:string"></xs:element>
							<xs:element name="ProvidedDate" type="xs:string"></xs:element>
							<xs:element name="ExpirationDate" type="xs:string"></xs:element>
							<xs:element name="DateOfPeriodicInspection" type="xs:string"></xs:element>
							<xs:element name="CertificateNo" type="xs:string"></xs:element>
							<xs:element name="Order" type="xs:string"></xs:element>
							<xs:element name="Comment" type="xs:string"></xs:element>
							<xs:element name="Description" type="xs:string"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>