src/main/java/vn/nsw/xsd/PortEntryPermit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Tue Sep 16 2014 08:40:58 GMT+0700 (SE Asia Standard Time) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="PortEntryPermit">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NumberPortClearance" type="xs:string"></xs:element>
				<xs:element name="DocumentName" type="xs:string"></xs:element>
				<xs:element name="DocumentYear" type="xs:string"></xs:element>
				<xs:element name="PortofAuthority" type="xs:string"></xs:element>
				<xs:element name="NameOfShip" type="xs:string"></xs:element>
				<xs:element name="FlagStateOfShip" type="xs:string"></xs:element>
				<xs:element name="NumberOfCrews" type="xs:string"></xs:element>
				<xs:element name="NumberOfPassengers" type="xs:string"></xs:element>
				<xs:element name="CallSign" type="xs:string"></xs:element>
				<xs:element name="NameOfMaster" type="xs:string"></xs:element>
				<xs:element name="Cargo" type="xs:string"></xs:element>
				<xs:element name="VolumeCargo" type="xs:string"></xs:element>
				<xs:element name="CargoUnit" type="xs:string"></xs:element>
				<xs:element name="TransitCargo" type="xs:string"></xs:element>
				<xs:element name="VolumeTransitCargo" type="xs:string"></xs:element>
				<xs:element name="TransitCargoUnit" type="xs:string"></xs:element>
				<xs:element name="TimeOfDeparture" type="xs:string"></xs:element>
				<xs:element name="NextPortOfCallCode" type="xs:string"></xs:element>
				<xs:element name="ValidUntil" type="xs:string"></xs:element>
				<xs:element name="IssueDate" type="xs:string"></xs:element>
				<xs:element name="DirectorOfMaritimeAdministration" type="xs:string"></xs:element>
				<xs:element name="CertificateNo" type="xs:string"></xs:element>
				<xs:element name="GT" type="xs:string"></xs:element>
				<xs:element name="Representative" type="xs:string"></xs:element>
				<xs:element name="CargoList" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Category" type="xs:string"></xs:element>
							<xs:element name="Type" type="xs:string"></xs:element>
							<xs:element name="Name" type="xs:string"></xs:element>
							<xs:element name="Description" type="xs:string"></xs:element>
							<xs:element name="Quantity" type="xs:string"></xs:element>
							<xs:element name="Unit" type="xs:string"></xs:element>							
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AttachedFile">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AttachedTypeCode" type="xs:string"></xs:element>
							<xs:element name="AttachedTypeName" type="xs:string"></xs:element>
							<xs:element name="AttachedDocName" type="xs:string"></xs:element>
							<xs:element name="AttachedNote" type="xs:string"></xs:element>
							<xs:element name="FullFileName" type="xs:string"></xs:element>
							<xs:element name="SHA1FileContent" type="xs:string"></xs:element>
							<xs:element name="FileURL" type="xs:string"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>