src/main/java/vn/nsw/xsd/PTTNDPassengerList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Tue Sep 16 2014 08:40:58 GMT+0700 (SE Asia Standard Time) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="PTTNDPassengerList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocumentName" type="xs:string"></xs:element>
				<xs:element name="DocumentYear" type="xs:string"></xs:element>
				<xs:element name="UserCreated" type="xs:string"></xs:element>
				<xs:element name="isArrival" type="xs:string"></xs:element>
				<xs:element name="NameOfShip" type="xs:string"></xs:element>
				<xs:element name="PortOfArrivalCode" type="xs:string"></xs:element>
				<xs:element name="AnchorageCode" type="xs:string"></xs:element>
				<xs:element name="DateOfArrival" type="xs:string"></xs:element>
				<xs:element name="IMONumber" type="xs:string"></xs:element>
				<xs:element name="CallSign" type="xs:string"></xs:element>
				<xs:element name="VoyageNumber" type="xs:string"></xs:element>
				<xs:element name="NumberOfLeftPassengers" type="xs:string"></xs:element>
				<xs:element name="NumberOfVNmeses" type="xs:string"></xs:element>
				<xs:element name="NumberOfForeigners" type="xs:string"></xs:element>
				<xs:element name="TotalPassengers" type="xs:string"></xs:element>
				<xs:element name="FlagStateOfShip" type="xs:string"></xs:element>
				<xs:element name="ListPassengers">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Passenger" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PassengerCode" type="xs:string"></xs:element>
										<xs:element name="FamilyName" type="xs:string"></xs:element>
										<xs:element name="GivenName" type="xs:string"></xs:element>
										<xs:element name="Nationality" type="xs:string"></xs:element>
										<xs:element name="BirthDay" type="xs:string"></xs:element>
										<xs:element name="BirthPlace" type="xs:string"></xs:element>
										<xs:element name="TypeOfIdentity" type="xs:string"></xs:element>
										<xs:element name="SerialNumberOfIdentity" type="xs:string"></xs:element>
										<xs:element name="PortOfEmbarkation" type="xs:string"></xs:element>
										<xs:element name="PortOfDisembarkation" type="xs:string"></xs:element>
										<xs:element name="IsTransit" type="xs:string"></xs:element>
										
										<xs:element name="Gender" type="xs:string"></xs:element>
										<xs:element name="GoAshore" type="xs:string"></xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SignPlace" type="xs:string"></xs:element>
				<xs:element name="SignDate" type="xs:string"></xs:element>
				<xs:element name="MasterSigned" type="xs:string"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>