src/main/java/vn/nsw/xsd/RequestInvoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Mon Sep 15 2014 14:48:55 GMT+0700 (SE Asia Standard Time) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="RequestInvoice">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MaritimeCode" type="xs:string"></xs:element>
				<xs:element name="TransactionCode" type="xs:string"></xs:element>				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>