src/main/java/vn/nsw/xsd/ShipSecurityNotification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Tue Sep 16 2014 08:40:58 GMT+0700 (SE Asia Standard Time) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="ShipSecurityNotification">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ShipSecurityNotificationId" type="xs:string"></xs:element>
				<xs:element name="DocumentName" type="xs:string"></xs:element>
				<xs:element name="DocumentYear" type="xs:string"></xs:element>
				<xs:element name="UserCreated" type="xs:string"></xs:element>
				<xs:element name="NameOfShip" type="xs:string"></xs:element>
				<xs:element name="FlagStateOfShip" type="xs:string"></xs:element>
				<xs:element name="CallSign" type="xs:string"></xs:element>
				<xs:element name="GrossTonnage" type="xs:string"></xs:element>
				<xs:element name="GrossTonnageUnit" type="xs:string"></xs:element>
				<xs:element name="ShipTypeCode" type="xs:string"></xs:element>
				<xs:element name="NumberOfCrew" type="xs:string"></xs:element>

				<xs:element name="ETA" type="xs:string"></xs:element>
				<xs:element name="IMONumber" type="xs:string"></xs:element>
				<xs:element name="PurposeCode" type="xs:string"></xs:element>
				<xs:element name="OthersPurpose" type="xs:string"></xs:element>

				<xs:element name="PortRegionCode" type="xs:string"></xs:element>
				<xs:element name="PortWharfCode" type="xs:string"></xs:element>
				<xs:element name="TaxCodeOfShipAgent" type="xs:string"></xs:element>
				<xs:element name="NameOfShipAgent" type="xs:string"></xs:element>
				<xs:element name="AddressOfShipAgent" type="xs:string"></xs:element>
				<xs:element name="TelOfShipAgency" type="xs:string"></xs:element>
				<xs:element name="FaxOfShipAgency" type="xs:string"></xs:element>
				<xs:element name="IsValidISSC" type="xs:string"></xs:element>
				<xs:element name="NameOfAuthorityISSC" type="xs:string"></xs:element>
				<xs:element name="DateOfIssueISSC" type="xs:string"></xs:element>
				<xs:element name="DateOfExpiryISSC" type="xs:string"></xs:element>
				<xs:element name="SecurityLevelCode" type="xs:string"></xs:element>
				<xs:element name="Last10PortsOfCall">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PortOfCall" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PortOfCallCode" type="xs:string"></xs:element>
										<xs:element name="PortCode" type="xs:string"></xs:element>
										<xs:element name="DateOfArrival" type="xs:string"></xs:element>
										<xs:element name="DateOfDeparture" type="xs:string"></xs:element>
										<xs:element name="SecurityLevelCode" type="xs:string"></xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="IsAdditionalSecurityMeasures" type="xs:string"></xs:element>
				<xs:element name="AdditionalSecurityDetail" type="xs:string"></xs:element>
				<xs:element name="IsMaintainSecurity" type="xs:string"></xs:element>
				<xs:element name="MaintainSecurityDetail" type="xs:string"></xs:element>
				<xs:element name="NameOfMaster" type="xs:string"></xs:element>
				<xs:element name="Latitude" type="xs:string"></xs:element>
				<xs:element name="SignPlace" type="xs:string"></xs:element>
				<xs:element name="SignDate" type="xs:string"></xs:element>
				<xs:element name="MasterSigned" type="xs:string"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>