src/main/java/vn/nsw/xsd/VmaItineraryRemarksList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Tue Sep 16 2014 08:40:58 GMT+0700 (SE Asia Standard Time) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="VmaItineraryRemarksList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="VmaItineraryRemarks" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ItineraryNo" type="xs:string"></xs:element>
							<xs:element name="SequenceNo" type="xs:string"></xs:element>
							<xs:element name="PortofAuthority" type="xs:string"></xs:element>
							<xs:element name="NameOfShip" type="xs:string"></xs:element>
							<xs:element name="DocumentName" type="xs:string"></xs:element>
							<xs:element name="DocumentYear" type="xs:string"></xs:element>
							<xs:element name="NoticeShipType" type="xs:string"></xs:element>
							<xs:element name="RequestDate" type="xs:string"></xs:element>
							<xs:element name="RequestPerson" type="xs:string"></xs:element>
							<xs:element name="Remarks" type="xs:string"></xs:element>
							<xs:element name="MarkedAsPending" type="xs:string"></xs:element>
							<xs:element name="ModifiedDate" type="xs:string"></xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>