src/main/java/vn/nsw/xsd/VmaPilotViolation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Tue Sep 16 2014 08:40:58 GMT+0700 (SE Asia Standard Time) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="VmaPilotViolation" >
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MaritimeCode" type="xs:string"></xs:element>
				<xs:element name="PilotCode" type="xs:string"></xs:element>
				<xs:element name="ViolationDate" type="xs:string"></xs:element>
				<xs:element name="ViolationDescription" type="xs:string"></xs:element>
				<xs:element name="Troubleshooting" type="xs:string"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>